html {
  font-size: 18px;
  font-family: sans-serif;
}

li {
  line-height: 100%;
  padding: 12px 10px;
  cursor: pointer;
}

li:nth-child(even) {
  background-color: #eee;
}
li:nth-child(odd) {
  background-color: #ccc;
}

.enabled {
  font-weight: bold;
}
.disabled {
color: gray;
}